2_linkedin-profile-comparison-extended/linkedin-profile-comparison-extended.json
{
  "name": "LinkedIn Profile Comparison Extended",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Start Flow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "field-linkedin-url",
              "name": "linkedin_url",
              "value": "https://ch.linkedin.com/in/ramona-schindler",
              "type": "string"
            },
            {
              "id": "field-known-name",
              "name": "known_name",
              "value": "Ramona Schindler",
              "type": "string"
            },
            {
              "id": "field-known-position",
              "name": "known_position",
              "value": "Chief Executive Officer",
              "type": "string"
            },
            {
              "id": "field-known-company",
              "name": "known_company",
              "value": "Pelephant",
              "type": "string"
            },
            {
              "id": "field-known-location",
              "name": "known_location",
              "value": "Zurich, Switzerland",
              "type": "string"
            },
            {
              "id": "field-known-industry",
              "name": "known_industry",
              "value": "Machinery",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Your Known Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300],
      "notesInFlow": true,
      "notes": "Edit these fields with the person's LinkedIn URL and the information you already have about them."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.peopledatalabs.com/v5/person/enrich",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "YOUR_PDL_API_KEY"
            },
            {
              "name": "profile",
              "value": "={{ $json.linkedin_url }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Fetch LinkedIn Profile (PDL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 300],
      "notesInFlow": true,
      "notes": "Calls the People Data Labs API to enrich the LinkedIn profile. Replace YOUR_PDL_API_KEY with your actual key."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get data from both previous nodes\nconst knownData = $node[\"Your Known Data\"].json;\nconst pdlResponse = $input.first().json;\n\n// PDL nests person data under 'data'\nconst person = pdlResponse.data || pdlResponse;\n\n// Helper: safely get a string value (PDL returns booleans for gated fields)\nfunction safeStr(val) {\n  if (typeof val === 'string' && val.length > 0) return val;\n  return null;\n}\n\n// Extract fetched profile data from PDL response\nconst fetched_name = safeStr(person.full_name) || safeStr(person.name) || 'Not found';\nconst fetched_position = safeStr(person.job_title) || 'Not found';\nconst fetched_company = safeStr(person.job_company_name) || 'Not found';\nconst fetched_location = safeStr(person.location_name)\n  || safeStr(person.job_company_location_name)\n  || safeStr(person.location_country)\n  || 'Not found';\nconst fetched_industry = safeStr(person.industry) || safeStr(person.job_company_industry) || 'Not found';\n\n// Helper: compare two strings (case-insensitive, partial match)\nfunction compare(known, fetched) {\n  if (!known || !fetched || fetched === 'Not found') {\n    return { match: false, note: 'Data missing' };\n  }\n  const k = known.toLowerCase().trim();\n  const f = fetched.toLowerCase().trim();\n  if (k === f) {\n    return { match: true, note: 'Exact match' };\n  }\n  if (f.includes(k) || k.includes(f)) {\n    return { match: true, note: 'Partial match' };\n  }\n  return { match: false, note: 'Different' };\n}\n\n// Run comparisons\nconst nameCheck = compare(knownData.known_name, fetched_name);\nconst positionCheck = compare(knownData.known_position, fetched_position);\nconst companyCheck = compare(knownData.known_company, fetched_company);\nconst locationCheck = compare(knownData.known_location, fetched_location);\nconst industryCheck = compare(knownData.known_industry, fetched_industry);\n\n// Count matches\nconst fields = [nameCheck, positionCheck, companyCheck, locationCheck, industryCheck];\nconst matchCount = fields.filter(f => f.match).length;\nconst hasChanges = fields.some(f => !f.match);\n\nreturn [\n  {\n    json: {\n      summary: `${matchCount} of 5 fields match`,\n      linkedin_url: knownData.linkedin_url,\n      has_changes: hasChanges,\n      comparison: {\n        name: {\n          known: knownData.known_name,\n          fetched: fetched_name,\n          result: nameCheck.note\n        },\n        position: {\n          known: knownData.known_position,\n          fetched: fetched_position,\n          result: positionCheck.note\n        },\n        company: {\n          known: knownData.known_company,\n          fetched: fetched_company,\n          result: companyCheck.note\n        },\n        location: {\n          known: knownData.known_location,\n          fetched: fetched_location,\n          result: locationCheck.note\n        },\n        industry: {\n          known: knownData.known_industry,\n          fetched: fetched_industry,\n          result: industryCheck.note\n        }\n      },\n      match_count: matchCount,\n      total_fields: 5\n    }\n  }\n];"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Compare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 300],
      "notesInFlow": true,
      "notes": "Compares your known data with the fetched LinkedIn data and shows which fields match."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_changes }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Has Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1280, 300],
      "notesInFlow": true,
      "notes": "Checks if any field has changed (Different or Data missing)"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first().json;\nconst changes = [];\n\n// Collect all fields that don't match\nfor (const [field, details] of Object.entries(data.comparison)) {\n  if (details.result !== 'Exact match') {\n    changes.push({\n      field: field.charAt(0).toUpperCase() + field.slice(1),\n      known: details.known,\n      fetched: details.fetched,\n      status: details.result\n    });\n  }\n}\n\nreturn [{\n  json: {\n    linkedin_url: data.linkedin_url,\n    summary: data.summary,\n    changes_detected: changes.length,\n    changed_fields: changes\n  }\n}];"
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Format Changes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 200],
      "notesInFlow": true,
      "notes": "Formats the changed fields into a clean list for notification"
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "No Changes",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1540, 400],
      "notesInFlow": true,
      "notes": "All fields match - no action needed"
    }
  ],
  "connections": {
    "Start Flow": {
      "main": [
        [
          {
            "node": "Your Known Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Your Known Data": {
      "main": [
        [
          {
            "node": "Fetch LinkedIn Profile (PDL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Profile (PDL)": {
      "main": [
        [
          {
            "node": "Compare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Data": {
      "main": [
        [
          {
            "node": "Has Changes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Changes?": {
      "main": [
        [
          {
            "node": "Format Changes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "pelephant-linkedin-comparison-extended"
  },
  "tags": [
    {
      "name": "LinkedIn",
      "id": "1"
    },
    {
      "name": "Demo",
      "id": "2"
    }
  ]
}
